.volunteer {
  color: black;
}

.volunteer__banner {
  background: gray;
  display: flex;
  /* justify-content: flex-end; */
  height: 420px;
  /* background: url('../../assets/images/VolunteerBanner/volunteer-banner-img-1.jpg'); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position-y: calc(40%); */
  overflow: hidden;
}

.volunteer__bannerRight {
  position: absolute;
  /* width: calc(40% + 220px); */
  right: 0;
  width: 50%;
  height: 420px;
  /* box-sizing: border-box;
  border-left: 320px solid transparent;
  border-bottom: 420px solid rgb(31, 31, 30); */
  border-left: 320px solid transparent;
  border-bottom: 420px solid rgb(31, 31, 30);
  z-index: 50;
}

.volunteer__bannerSlider {
  min-width: 100%;

  transition: 0.5s;
}

.volunteer__bannerButton {
  position: absolute;
  top: 135px;
  width: 10%;
  height: 420px;
  z-index: 50;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 40px;
}

.--left {
  left: 0;
}

.--right {
  right: 50%;
}

.chevron {
  font-size: 5vw !important;
}

.volunteer__bannerButton:hover {
  transform: scale(1.8);
  transition: 250ms all;
  transition: all 0.2s ease;
}

/* .volunteer__bannerAngledLine {
  position: absolute;
  width: calc(15% + 220px);
  box-sizing: border-box;
  border-left: 320px solid transparent;
  border-bottom: 420px solid white;
} */

.volunteer_bannerText {
  height: 420px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}

.volunteer_bannerText > h3 {
  padding: 20px 0;
}
