.volunteer {
  color: black;
}

.volunteer__banner {
  background: gray;
  display: flex;
  /* justify-content: flex-end; */
  height: 420px;
  /* background: url('../../assets/images/VolunteerBanner/volunteer-banner-img-1.jpg'); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position-y: calc(40%); */
  overflow: hidden;
}

.volunteer__bannerSlider {
  min-width: 100%;
  transition: 0.5s;
}

.volunteer__bannerButton {
  position: absolute;
  top: 135px;
  width: 10%;
  height: 420px;
  z-index: 50;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 40px;
}

.--left {
  left: 0;
}

.--right {
  right: 0;
}

.chevron {
  font-size: 72px !important;
}

.volunteer__bannerButton:hover {
  background: rgba(33, 33, 33, 0.4);
}

/* .volunteer__bannerSlide > img {
  object-fit: cover;
  min-width: 100%;
  margin-left: 0;
} */

.volunteer__bannerRight {
  display: flex;
  /* width: calc(40% + 220px); */
  /* width: 500px; */
  background: black;
  /* box-sizing: border-box;
  border-left: 320px solid transparent;
  border-bottom: 420px solid rgb(31, 31, 30); */
  /* z-index: 100; */
}

/* .volunteer__bannerAngledLine {
  position: absolute;
  width: calc(15% + 220px);
  box-sizing: border-box;
  border-left: 320px solid transparent;
  border-bottom: 420px solid white;
} */

.volunteer_bannerText {
  height: 420px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}

.volunteer_bannerText > h3 {
  padding: 20px 0;
}
