.amount-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 10px;
  background: rgb(48, 49, 151);
  width: 291px;
  height: 325px;
  margin-right: 10px;
  margin-left: 0;
  
  
}

.amount-text {
  padding-bottom:20px ;
  text-align: center;
  color: white
}

.radio {
  display: inline-flex; 
   align-items: center;
   color: white;
  border-bottom: 1.5px solid  rgba(159, 159, 184, 0.8);
  padding: 10px;
  width: 250px;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
}



.input-circle {
  border: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;

}

.input-amount {
  background: none;
  border: none;
  outline: none;
  color: white;
  width: 220px;
  padding-left: 8px;
}

.input-amount::placeholder {
  color: gray;
  
}

@media screen and (max-width: 670px){
  .amount-div {
    
   display: flex;
    
    flex-direction: column;
    margin-right: 0px ;
    margin-left: 10px ;
   
    
  }
}

@media screen and (max-width: 310px) {

  .amount-div {
    display: flex;
    width: 80vw;
   
    
 
   
    
  }

  

}
