.amount-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 10px;
  background: rgb(57,32,132);
  width: 291px;
  height: 325px;
  margin-right: 10px;
  margin-left: 0;
  
  
}

.amount-text {
  padding-bottom:20px ;
  text-align: center;
  color: white
}

.radio {
  display: inline-flex; 
   align-items: center;
   color: white;
  border-bottom: 2px solid  rgba(196, 196, 196, 0.35);
  padding: 10px;
  width: 250px;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
}



.input-circle {
  border: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;

}

.input-amount {
  background: none;
  border: none;
  outline: none;
  color: gray;
  width: 220px;
}

.input-amount::placeholder {
  color: gray;
}

