* {
  box-sizing: border-box;
}

.volunteer-div {
  width: 100vw;

  background-image: url("../../assets/images/Background\ Shapes.png"),
    url("https://res.cloudinary.com/bobalobbadingdong/image/upload/v1597945995/Trinity-Place-Shelter/HomePage/Form_background_box_a6tryx.png");
  background-position: 1px, center;
  background-size: 100% 118% , cover;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: auto;
  color: white;
  padding-top: 80px;

  margin-bottom: 30px;
  width: 710px;
  top: 500px;
}

.volunteer-text {
  display: flex;
  align-items: center;
  font-size: 35px;
  padding-right: 18px;
  
}
.divider {
  display: flex;
  align-items: center;
  font-size: 70px;
  font-weight: 240;
  margin-bottom: 10px;
  padding-right: 10px;
  text-align: center;
}

.volunteer-p {
  display: flex;
  align-items: center;
}

.volunteer-div_form {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 645px;
  height: 780px;
  margin: auto;
}

.form {
  width: 650px;
  height: 800px;
  margin: auto;
}
.input-box-div_short {
  padding: 10px;
  display: inline-block;
  padding-right: 20px;
  width: 300px;
  margin-right: 25px;
}

.input-label {
  display: block;
  color: white;
  font-size: 12px;
}

.short-input_box {
  display: inline-block;
  width: 310px;
  height: 33px;
  border: none;
  background: rgba(137, 207, 240, 0.35);
  outline: none;
  color: white;
  font-size: 16px;
}

.input-box_div {
  display: block;
  padding: 10px;
}

.long-input_box,
.message {
  width: 635px;
  height: 33px;
  background: rgba(137, 207, 240, 0.35);
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.message {
  height: 90px;
  resize: none;
}

.volunteer-button_div {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 40px;
}

.volunteer-button {
  background-color: var(--cta-color);
  color: white;
  height: 45px;
  width: 150px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}
.volunteer-button:hover {
  opacity: 0.8;
}

@media only screen and (max-device-width: 690px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 400px;
  }

  .volunteer-text {
    align-items: center;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .divider {
    display: none;
  }

  .volunteer-div_form {
    width: 80vw;
    padding-bottom: 900px;

  }

  

  .form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom:100px;
  }

  .long-input_box,
  .message {
    display: inline-flex;
    width: 80vw;
  }

  .short-input_box {
    display: inline-block;
    width: 80vw;
  }

  .volunteer-button_div {
    margin-right: 20px;
  }
}

@media only screen and (min-device-width: 315px) and (max-device-width: 460px) {
  .volunteer-div_form {
    width: 100vw;

   
  }

  .volunteer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .volunteer-p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    /* width: 100%; */
    margin: auto;
  }

  .form {
    display: flex;
    flex-direction: column;
    
  }

  .header-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .long-input_box,
  .message,
  .short-input_box {
    width: 95vw;

  }
}
