* {
  box-sizing: border-box;
}

body {
  display: flex;
}
.volunteer-div {
  width: 100vw ;
  height: 100vh;
 
  background-image: url('https://res.cloudinary.com/bobalobbadingdong/image/upload/v1597945995/Trinity-Place-Shelter/HomePage/Form_background_box_a6tryx.png');
  background-size: cover;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  margin: auto;
  color: white;
  padding-top: 80px;
 
  margin-bottom: 100px;
  width: 710px;
}

.volunteer-text {
  display:flex;
  align-items: center;
  padding-right: 33px;

}
.divider {
  display:flex;
  align-items: center;
  font-size: 64px;
  margin-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  
  
}

.volunteer-p {
  display:flex;
  align-items: center;
}

.volunteer-div_form {
  display: flex;
  justify-items: center;
  margin: auto;
 width: 635px;
  height: 535px;
}

.volunteer-form {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 

}
.input-box-div_short{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 310px ;
  
  

}
.input-box_div, 
.long-input_box {
  width: 635px;
}

.short-input_box {
  height: 33px;
  margin: 10px;
}

textarea {
  width: 635px;
}

