.follow-us-div {
  width: 100%;
  top: 40px;
  height: 380px;
}

.followUs__left {
  height: 380px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 120px;
  padding-bottom: 50px;
}

.followUs__right {
  position: absolute;
  height: 380px;
  width: 60%;
  right: 0;
  box-sizing: border-box;
  border-left: 150px solid transparent;
  border-bottom: 380px solid rgb(31, 31, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.followUs__testimonial {
  margin-top: -10px;
  font-style: italic;
}

.social-media {
  padding-top: 20px;
}

.social-media img {
  padding-right: 24px;
}
.social-icon img:hover {
  transform: scale(0.8);
  transition: 500ms all;
  transition: all 0.5s ease;
}

.p-text-follow {
  color: white;
  position: relative;
  bottom: 310px;
  left: 100%;
  font-size: 12px;
  margin-bottom: 30px;
}
.half-screen-div {
  width: calc(35% + 405px);
  box-sizing: border-box;
  border-left: 90px solid transparent;
  border-bottom: 252px solid rgb(31, 31, 30);
  z-index: -1;
  position: absolute;
  bottom: 50px;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .followUs__testimonial {
    margin-top: 10px;
    font-style: italic;
    position: relative;
    right: 0px;
    font-size: small;
  }
  .iframe-resize {
    height: 200px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 916px) {
  .followUs__right {
    position: absolute;
    height: 380px;
    width: 60%;
    right: 0;
    box-sizing: border-box;
    border-left: 150px solid transparent;
    border-bottom: 380px solid rgb(31, 31, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: auto;
  }
}

@media screen and (max-width: 890px) {
  .followUs__testimonial {
    margin-top: 10px;
    font-style: italic;
    position: relative;
    right: 0px;
    font-size: x-small;
  }
  .followUs__right {
    width: auto;
  }
}
@media screen and (max-width: 844px) {
  .followUs__right {
    position: absolute;
    height: 380px;
    width: 60%;
    right: 0;
    box-sizing: border-box;
    border-left: 150px solid transparent;
    border-bottom: 380px solid rgb(31, 31, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: auto;
  }
  .followUs__left {
    position: relative;
    bottom: 15%;
    right: 10%;
    font-size: smaller;
  }
  .social-media img {
    padding-right: 24px;
    margin-top: 20px;
    height: 40px;
  }
}
/* @media screen and (max-width: 520px){
  .followUs__left {
    position: relative;
    bottom: 5%;
    left: 5%;
    font-size: small;
    color: red;
  }
  .social-media img {
    padding-right: 24px;
    margin-top: 20px;
    height: 10px;
  }
} */

@media screen and (max-width: 705px) {
  .followUs__left {
    position: relative;
    bottom: 15%;
    right: 15%;
    font-size: x-small;
    
  }
  .social-media img {
    padding-right: 24px;
    margin-top: 20px;
    height: 40px;
  }
  .followUs__testimonial {
    margin-top: 10px;
    font-style: italic;
    position: relative;
    right: 0%;
    width: max-content;
  }
}
@media screen and (max-width: 650px) {
  .followUs__left {
    position: absolute;
    bottom: 25%;
    left: 15%;
    font-size: x-small;
    width: 60%;
    
  }
  .social-media img {
    position: relative;
    padding-right: 24px;
    margin-top: 0px;
    height: 40px;
  }
  .iframe-resize {
    margin-top: 120px;
    position: relative;
    right: 0%;
  }

  .followUs__right {
    position: relative;
    height: 380px;
    width: 60%;
    right: 0;
    box-sizing: border-box;
    border-left: 0px solid transparent;
    border-bottom: 280px solid rgb(31, 31, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: auto;
  }
  .followUs__testimonial {
    margin-top: 10px;
    font-style: italic;
    position: relative;
    right: 0%;
    font-size: 10px;
    width: max-content;
  }
}
@media screen and (max-width: 545px){
  .followUs__left {
    position: absolute;
    bottom: 32%;
    left: 15%;
    font-size: x-small;
    width: 60%;
  }
  .social-media img {
    position: relative;
    padding-right: 24px;
    margin-top: 0px;
    height: 40px;
  }
}

@media screen and (max-width: 520px) {
  .followUs__left {
    position: absolute;
    /* bottom: 25%; */
    left: 15%;
    font-size: x-small;
    width: 60%;
  }
  .social-media {
    width: max-content;
    position: relative;
    padding-right: 24px;
    margin-top: 0px;
    height: 40px;
  }
}
@media screen and (max-width: 485px) {
  .followUs__left {
    position: absolute;
    /* bottom: 25%; */
    left: 0%;
    font-size: x-small;
    width: 60%;
    inline-size: auto;
  }
  .social-media {
    width: max-content;
    position: relative;
    padding-right: 24px;
    margin-top: 0px;
    height: 40px;
  }
}

@media screen and (max-width: 400px) {
  
  .iframe-resize {
    height: 150px;
    margin-top: 150px;
    position: relative;
  }
  .followUs__left {
    position: absolute;
    /* bottom: 25%; */
    left: -5%;
    font-size: x-small;
    width: 100%;
    inline-size: auto;
  }
  .social-media {
    width: max-content;
    position: relative;
    padding-right: 24px;
    margin-top: 0px;
    height: 40px;
  }
  .follow-us-div {
    width: 100%;
    top: 40px;
    height: 380px;
  }
}

@media screen and (max-width: 320px) {
  .followUs__left {
    position: absolute;
    /* bottom: 25%; */
    left: -15%;
    font-size: x-small;
    width: 60%;
    inline-size: auto;
  }
  .social-media {
    width: max-content;
    position: relative;
    padding-right: 24px;
    margin-top: 0px;
    height: 40px;
  }
}
