.follow-us-div {
  width: 100%;
  top: 40px;
  max-height: 250px;
}
.follow-text-div {
  font-size: small;
  position: relative;
  top: 30px;
  left: 70px;
}

.social-media {
  position: relative;
  width: 50%;
  top: 40px;
  left: 50px;
}
img {
  margin-left: 20px;
}
.iframe {
  width: 50%;
  position: relative;
  left: 100%;
  bottom: 220px;
}
.p-text-follow {
  color: white;
  position: relative;
  bottom: 310px;
  left: 100%;
  font-size: 12px;
  margin-bottom: 30px;
}
.half-screen-div{
  width: calc(35% + 405px);
  box-sizing: border-box;
  border-left: 90px solid transparent;
  border-bottom: 252px solid rgb(31, 31, 30);
  z-index: -1;
  position: absolute;
  bottom: 50px;
  right: 0;
}
