.donateExampleBanner {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/donate-examples-background.jpg") no-repeat center
      center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}

.donateExampleBanner > h1 {
  font-size: 34px;
  padding-left: 35px;
  padding-bottom: 200px;
}

.donateExampleBanner__circles {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.donateExampleBanner__circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.donateExampleBanner__circle > p {
  max-width: 250px;
}

.--orange {
  background: var(--cta-color);
  margin-top: 120px;
}

.--red {
  background: rgb(168, 75, 82);
  margin-top: -50px;
}

.--purple {
  background: rgb(71, 58, 158);
  margin-top: 120px;
}

.donateExampleBanner__icon {
  font-size: 70px !important;
  margin: 20px 0 !important;
}

@media screen and (max-width: 1114px) {
  .donateExampleBanner > h1 {
    font-size: 20px;
  }
  .donateExampleBanner__circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .donateExampleBanner__circle > p {
    max-width: 150px;
    font-size: 10px;
  }
  .donateExampleBanner__circle > h1 {
    font-size: 15px;
  }
  .donateExampleBanner__icon {
    font-size: 60px !important;
    margin: 10px 0 !important;
  }
}
@media screen and (max-width: 741px) {
  .donateExampleBanner > h1 {
    font-size: 15px;
  }
  .donateExampleBanner__circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .donateExampleBanner__circle > p {
    max-width: 100px;
    font-size: 8px;
  }
  .donateExampleBanner__circle > h1 {
    font-size: 15px;
  }
  .donateExampleBanner__icon {
    font-size: 60px !important;
    margin: 0px 0 !important;
  }
}
@media screen and (max-width: 570px) {
  /* .donateExampleBanner__circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 100px;
  } */
  .text-banner{
    position: relative;
    top: -130px;
    width: 100%;
  }
  .donateExampleBanner__circles {
    display: inline-grid;
    justify-content: flex-end;
}
.--red{
    position: relative;
    top: 80px;
    right: 125px;
  }
  .--orange{
    position: relative;
    top: 0px;
    right: 100%;

  }
  .--purple {
    position: relative;
    bottom: 50px;
    right: 20%;
    
  }
/* 
  .donateExampleBanner__circles {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
  } */
}
@media screen and (max-width: 470px) {
  /* .--purple {
    position: relative;
    right: 320px;
    
  } */
  /* .--red{
    position: relative;
  } */
  /* .--orange{
    position: relative;
    bottom:-150px;
  } */
  /* .text-banner{
    position: relative;
    
    top: -100px;
    width: 100%;
  } */
}
