.donateExampleBanner {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../assets/images/donate-examples-background.jpg') no-repeat center
      center;
  background-size: cover;
  color: white;
}

.donateExampleBanner > h1 {
  padding-top: 10%;
  margin-left: 6%;
  max-width: 500px;
}
