.header-nav {
  display: flex;
  justify-content: flex-start;
  height: 135px;
  margin-left: 25px;
}

.header-nav__logo {
  height: 195px;
  z-index: 100;
  padding-top: 5px;
}

.header-nav > nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
}

.header-nav__container {
  display: flex;
  list-style-type: none;
  margin-top: 50px;
}

.header-nav__container > li {
  color: black;
  margin-right: 35px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.header-nav__container > li:hover {
  color: rgb(84, 65, 167);
}

.header-nav--link {
  text-decoration: none;
  color: black;
}

.header-nav--link:hover {
  color: rgb(84, 65, 167);
}

.header-nav__donateButton {
  background-color: var(--cta-color);
  color: white;
  height: 45px;
  width: 150px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-right: 25px;
  margin-top: 50px;
}

.header-nav__donateButton:hover {
  opacity: 0.8;
}

.header-nav__responsive {
  display: none;
}

@media (max-width: 1146px) {
  .header-nav__logo {
    height: 200px;
    z-index: 100;
    position: absolute;
  }
}

@media (max-width: 1035px){
  .header-nav__logo {
    height: 200px;
    z-index: 100;
    position: absolute;
    left: 0px;
  }
}
@media (max-width: 1010px){
  .header-nav__container > li{
    margin-right: 20px;
    font-size: 20px;
    height: max-content;
  }
  .header-nav > nav {
    height: max-content;
}
}
@media (max-width: 875px){
  .header-nav__logo {
    height: 150px;
    z-index: 100;
    position: absolute;
    top: 20px;
  }
  .header-nav__container > li{
    margin-right: 20px;
    font-size: 15px;
  }
}
@media (max-width: 715px){
  /* .header-nav__logo {
    height: 120px;
    z-index: 100;
    position: absolute;
    top: 30px;
  } */
  .header-nav__container > li{
    margin-right: 20px;
    font-size: 12px;
  }
}

@media (max-width: 638px) {
  .header-nav {
    margin: 0;
    height: 70px;
  }

  .header-nav__logo > img {
    height: 110px;
    top: -20px;
  }

  .header-nav__container,
  .header-nav__donateButton {
    display: none;
  }

  .header-nav__responsive {
    display: flex;
  }
}
