.footer {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: black;
  contain: content;
  justify-content: space-evenly;
  min-block-size: fit-content;
}
.footer-seal-of-transparency {
  /* visibility: hidden */
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer-nav-links {
  color: white;
  position: absolute;
  font-size: 12px;
  left: 100px;
  top: 30px;
}
.container {
  display: flex;
  align-items: center;
}

.footer-payment-methods {
  display: flex;
  /* place-self: flex-end; */
  position: absolute;
  top: 200px;
  left: 100px;
}
.footer-payment-methods-bottom {
  display: flex;
  position: absolute;
  top: 240px;
  left: 100px;
}
.footer-card {
  block-size: 30px;
  margin-right: 10px;
}

.footer-501-info {
  color: white;
  font-size: 15px;
  right: 100px;
  top: 30px;
  text-align: center;
}

/* SAFARI  */

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .footer-nav-links {
      color: white;
      position: relative;
      font-size: 12px;
      left: 100%;
      top: 2%;
    }
    .footer-payment-methods {
      display: flex;
      position: static;
      margin-left: 50px;
      margin-top: 30%;
    }
    .footer-payment-methods-bottom {
      display: flex;
      position: static;
      margin-top: 30%;
    }
    .footer-card {
      block-size: 10px;
    }

    .footer-501-info {
      color: white;
      font-size: 15px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 916px) {
  .footer-seal-of-transparency {
    display: unset;
    height: 120px;
  }
}
/* FOR SOME REASON, THIS FOR CELL PHONE */
@media screen and (max-width: 720px) {
  .footer-payment-methods {
    display: none;
  }
  .footer-payment-methods-bottom {
    display: none;
  }
  .footer-nav-links {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: -125px;
  }
  .footer-nav-links p {
    margin-top: 20px;
  }
  .footer-501-info {
    color: white;
    font-size: 15px;
    text-align: right;
    margin-right: -125px;
    margin-top: -30px;
  }
}
@media screen and (max-width: 500px){
  .footer-nav-links {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    left: -160px;
    
  }
}
@media screen and (max-width: 411px) {
  .footer-nav-links {
    left: -120px;
}
}

@media screen and (max-width: 380px) {
  .footer {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: black;
    contain: content;
    min-block-size: -moz-fit-content;
    min-block-size: fit-content;
    justify-content: flex-end;
  }
  .footer-501-info {
    color: white;
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
    margin-top: -30px;
  }
  .footer-nav-links {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    left: -90px;
    
  }
} 
