.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  
  background-color: black;

}

.container{
  display: flex;
}

.iFrame{
  border:none;
  overflow:hidden;

  display: flex;
}
