.admin-update {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-top: 5vh;
}

.admin-update__details {
  border: 2px solid black;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 30px;
  max-width: 600px;
}

.admin-update__details > p {
  padding: 10px;
}

.admin-update__buttons {
  margin-bottom: 5vh;
}
