.volunteer-admin {
  color: rgb(250, 125, 87);
  padding-bottom: 40px;
  font-weight: 800;
}

.admin {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.admin__volunteers {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 75px;
}
