.yelow-box{
background-color:rgb(251, 233,117);
align-items: center;
text-align: center;
}
.yellow-page-h1{
  color: white;
  color: white;
  position: relative;
  bottom: 250px;
}
.hand-heart{
  margin-top: 45px;
}