.volunteer-options-container {
  display: flex;
  width: 100%;
}

.shapes-overlay {
  position: absolute;
  background: url(../../assets/images/VolunteerOptions/shapes-overlay.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  width: 100%;
}

.left-div,
.middle-div,
.right-div {
  height: 460px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-div {
  background-image: url('../../assets/images/VolunteerOptions/vol-option-1.png');
}
.middle-div {
  background-image: url('../../assets/images/VolunteerOptions/vol-option-2.png');
  background-position-y: -40px;
}
.right-div {
  background-image: url('../../assets/images/VolunteerOptions/vol-option-3.png');
}

.food-circle {
  height: 220px;
  position: relative;
  top: 30px;
}
.food-text {
  color: white;
  font-size: 9px;
  position: relative;
  bottom: 90px;
  margin-bottom: 5px;
}
