.volunteer-now_button {
  position: relative;
  bottom: 20px;
  background-color: var(--cta-color);
  color: white;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  outline: none;
  z-index: 400;
  width: 260px;
}
.volunteer-now_button:hover {
  transform: scale(1.2);
  transition: 250ms all;
  transition: all 0.2s ease;
}
