.card-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(57,32,132);
  width: 340px;
  height: 325px;
  margin-left: 25px;
  margin-right: 0px;
  
}

.card-image {
  display: flex;
  justify-content: left;
  width: 340px;
  padding: 10px;
  margin-right: 20px;
}
 .credit-card {
   height: 30px;
   width: 38px;
   padding: 4px;
   padding-left: 0;
   padding-right:0px ;
   margin-left: 10px;
 }



.card-input {
  background: rgba(196, 196, 196, 0.35);
  outline: none;
  border: none;
  width: 321px;
  height: 33px;
  margin: 15px;
  
}

.card-tab {
  padding-top: 0;
  width: 340px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
 
  

}
.recurring, .one-time {
  
  margin-right: auto;
  padding-left: 40px;
  padding-bottom: 5px;
  color: white;

}

.one-time-div, .recurring-div {
  width: 155px;
  margin-right:auto;

 

}
.input-circle {
  border:1px solid black;
}

.one-time-div {
  background: rgb(89, 60,173);
}

.card-input::placeholder {
  color: white;

}

@media screen and (max-width: 700px){
  .amount-donate_box {
    display: flex;
    justify-content: center;
    /* margin-right: 20px; */
    flex-direction: column;
    align-items: center;
}
.amount-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 10px;
  background: rgb(57,32,132);
  width: 291px;
  height: 325px;
  margin-bottom: 20px;
  /* margin-left: 25px; */
}
.card-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(57,32,132);
  width: 340px;
  height: 325px;
  /* margin-left: 25px;
  margin-right: 0px; */
}
}