
.small-white-bar {
  background-color: white;
  height: 10px;
  /* position: static;
  bottom: 100px; */
  width: 100%;
}
.white-bar-text {
  color: black;
  background-color: white;
  text-align: center;
  /* font-family: robato; */
  font-size: 1vw;
  font-weight: bold;
  position: relative;
    bottom: 55px;
}